<a href="https://colab.research.google.com/github/silverstar0727/study-/blob/master/auto_modeling_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np
import pandas as pd

In [46]:
cd /content/drive/My Drive/wion_crawling

/content/drive/My Drive/wion_crawling

In [47]:
BS = pd.read_csv('BS.csv')
CF = pd.read_csv('CF.csv')
IS = pd.read_csv('IS.csv')

In [48]:
def find_index(index, date, df):
  k = np.array(df.iloc[0, :])
  i = np.where(k == index)[0][0]

  return (float(df.iloc[date, i]) * 100)

In [50]:
IS

     ACCODE              ACC_NM  2015-12-01  ...  2017-12-01  2018-12-01  2019-12-01
0    200000             매출액(수익)  2006534.82  ...  2395753.76  2437714.15  2304008.81
1    200010                  내수   208278.22  ...         NaN         NaN  2304009.00
2    200020                  수출  1798256.60  ...         NaN         NaN         NaN
3    200040               제품매출액         NaN  ...         NaN         NaN         NaN
4    200070               상품매출액         NaN  ...         NaN         NaN         NaN
..      ...                 ...         ...  ...         ...         ...         ...
239  203360             희석주당순이익   126303.00  ...         NaN         NaN         NaN
240  203370    (지배주주지분)주당계속사업이익   126305.00  ...     5997.00     6461.00     3166.00
241  203380       (지배주주지분)주당순이익   126305.00  ...     5997.00     6461.00     3166.00
242  203390  (지배주주지분)희석주당계속사업이익   126303.00  ...         NaN         NaN         NaN
243  203400     (지배주주지분)희석주당순이익   126303.00  ...         NaN         NaN         NaN

[244 rows x 7 columns]

In [ ]:
for i in range(2, 7):
  print(find_index('매출액(수익)', i, IS))

* 직접 받아와야 하는 항목: 매출액, 매출원가, 판관비, 감가상각비(+기타무형자산상각비), 이자수익(금융수익), 현금및현금성자산, 단기금융자산, 이자비용(금융원가), 기타영업외수익, 기타영업외 비용, 관계사, tax
* 계산이 가능한 항목: 매출총이익, 영업이익, EBITDA, 영업외손익, 합계, 이자부채, pretax income, 당기순이익

In [18]:
financial_index = ['매출액(수익)', 'yoy', '매출원가', 'COGS', '매출총이익', 'GPM',
                   '판매비와관리비', 'SG&A', 'yoy', '영업이익', 'OPM',
                   '감가상각비', 'Dep', 'EBITDA', '영업외손익', '매출액대비',
                   '이자수익', 'yoy', '현금 및 현금성자산',
                   '단기금융자산', '합계', '매출액대비', '이자비용', 
                   '이자부채', '기타영업외수익', '매출액대비', '기타영업외비용', 
                   '매출액대비', '관계사', 'pretax income', '매출액대비',
                   'tax', '세전이익대비', '당기순이익', 'NPM']

In [ ]:
essential_index = ['매출액(수익)', 'yoy', '매출원가', 'COGS', '매출총이익', 'GPM',
                   '판매비와관리비', 'SG&A', 'yoy', '영업이익', 'OPM',
                   '감가상각비', 'Dep', 'EBITDA', '영업외손익', '매출액대비',
                   '이자수익', 'yoy', '현금 및 현금성자산',
                   '단기금융자산', '합계', '매출액대비', '이자비용', 
                   '이자부채', '기타영업외수익', '매출액대비', '기타영업외비용', 
                   '매출액대비', '종속기업,공동지배기업및관리', '법인세비용']

In [ ]:
df = {'단위 (억 원)': list(), '2015': list(), '2016': list(), '2017': list(), '2018': list(), '2019': list()}
for i in financial_index:
  df['단위 (억 원)'].append(i)
  df['2015'] =

In [19]:
cols = ['단위 (억 원)', 2015, 2016, 2017, 2018, 2019]

In [37]:
data = [['NaN'] * (len(cols) - 1)] * len(financial_index)
data = np.array(data)
data

array([['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN'],
       ['NaN', 'NaN', 'NaN', 'NaN', 'NaN']], dtype='<U3')