<a href="https://colab.research.google.com/github/silverstar0727/1day-1commit-challenge/blob/master/Pandas_Object_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas 10분완성 문서 참조
https://dataitgirls2.github.io/10minutes2pandas/

# Object Creation(객체 생성)

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### pd.Series
pd.Series는 python의 list를 통해 series를 만든다.
여기서 인덱스는 0부터 정수를 순서대로 정해준다.

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### pd.date_range
pd.date_range는 시작점과 기간을 메소드로 받아서 배열을 만든다.

In [6]:
dates = pd.date_range('20100101', periods = 5)
dates

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05'],
              dtype='datetime64[ns]', freq='D')

앞서 만든 dates는 numpy 배열인데, 이를 index로 하고 random값을 지정하여 행렬을 만든다.

In [10]:
df = pd.DataFrame(np.random.randn(5,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2010-01-01 -1.223132 -0.924938 -1.544830 -0.185117
2010-01-02 -0.595775 -0.854923  2.659692  0.911466
2010-01-03 -0.355421  1.126491  0.149368 -1.789468
2010-01-04  1.563811  0.142888 -0.426852  1.161064
2010-01-05  1.512330  0.656692 -0.730948  1.456362

python의 dictionary는 각각의 항목에 대해 key값이 정해져 있다는 점에서 list와 다르다.

df2는 pd.DataFrame에서 ABCDEF의 key값을 가지는 dict로 dataframe을 구성된다.

In [15]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20100101'),
                    'C': pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    'D': np.array([3] * 4, dtype = 'int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2010-01-01  1.0  3   test  foo
1  1.0 2010-01-01  1.0  3  train  foo
2  1.0 2010-01-01  1.0  3   test  foo
3  1.0 2010-01-01  1.0  3  train  foo

In [17]:
# df2의 data type을 확인할 수 있다.
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object