<a href="https://colab.research.google.com/github/silverstar0727/1day-1commit-challenge/blob/master/Pandas_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selection
## pandas day3

기존 day1의 data를 가지고 진행합니다

In [0]:
# day1의 데이터를 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dates = pd.date_range('20100101', periods = 5)
df = pd.DataFrame(np.random.randn(5,4), index = dates, columns = list('ABCD'))

In [2]:
# 데이터 프레임 전체보기
df

                   A         B         C         D
2010-01-01  0.437667  0.182542  0.915078  2.112417
2010-01-02  0.410243  0.068650  0.420226  0.370443
2010-01-03 -1.566423  1.440015 -0.168616  0.468975
2010-01-04  1.451270  0.053382 -0.703565 -1.365881
2010-01-05  0.129719  0.056578  1.227356 -1.234776

In [3]:
# a열에 해당하는 데이터 선택
df['A']

2010-01-01    0.437667
2010-01-02    0.410243
2010-01-03   -1.566423
2010-01-04    1.451270
2010-01-05    0.129719
Freq: D, Name: A, dtype: float64

In [6]:
#행을 선택. 0~3
df[0:3]

                   A         B         C         D
2010-01-01  0.437667  0.182542  0.915078  2.112417
2010-01-02  0.410243  0.068650  0.420226  0.370443
2010-01-03 -1.566423  1.440015 -0.168616  0.468975

In [7]:
# 위와 동일한 행을 다른방법으로 선택
df['20100101':'20100103']

                   A         B         C         D
2010-01-01  0.437667  0.182542  0.915078  2.112417
2010-01-02  0.410243  0.068650  0.420226  0.370443
2010-01-03 -1.566423  1.440015 -0.168616  0.468975

In [10]:
#label을 통한 선택
df.loc[dates[0]]

A    0.437667
B    0.182542
C    0.915078
D    2.112417
Name: 2010-01-01 00:00:00, dtype: float64

In [11]:
dates[0]

Timestamp('2010-01-01 00:00:00', freq='D')

In [12]:
df.loc[:,['A','B']]

                   A         B
2010-01-01  0.437667  0.182542
2010-01-02  0.410243  0.068650
2010-01-03 -1.566423  1.440015
2010-01-04  1.451270  0.053382
2010-01-05  0.129719  0.056578

In [16]:
df.at[dates[0],'A']

0.43766657811434667

## Selection by Position

In [17]:
df.iloc[3]

A    1.451270
B    0.053382
C   -0.703565
D   -1.365881
Name: 2010-01-04 00:00:00, dtype: float64

In [18]:
df.iloc[3:5, 0:2]

                   A         B
2010-01-04  1.451270  0.053382
2010-01-05  0.129719  0.056578

In [19]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2010-01-02  0.410243  0.420226
2010-01-03 -1.566423 -0.168616
2010-01-05  0.129719  1.227356

In [20]:
df.iloc[1,1]

0.06865041058621023

In [21]:
df.iat[1,1]

0.06865041058621023

## pandas를 열심히 해야하는 이유는
데이터전처리의 중요성이 더 커지고 있기 때문이 아닐까...
자유자재로 다룰 수 있어야 더 어려운 문제들을 해결하는데 도움이 될 것 같다.

다른 라이브러리는 크게 모든 함수와 메소드들을 외울 필요는 없다고 생각하지만, 판다스는 유일하게 그걸 외울 가치가 있는 라이브러리라고 생각한다.. 그래서 더 열심히 해야지...