<a href="https://colab.research.google.com/github/silverstar0727/1day-1commit-challenge/blob/master/pandas_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연산!!

### stats...
기술통계를 수행하고
데이터는 day1의 df를 활용한다

In [0]:
# day1의 데이터를 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dates = pd.date_range('20100101', periods = 5)
df = pd.DataFrame(np.random.randn(5,4), index = dates, columns = list('ABCD'))

In [3]:
df.mean()

A    0.382255
B    0.330573
C    0.429710
D    0.337213
dtype: float64

In [4]:
# 다른축에서의 동일한 연산
df.mean(1)

2010-01-01    0.163410
2010-01-02    0.377889
2010-01-03    0.731776
2010-01-04    0.261236
2010-01-05    0.315377
Freq: D, dtype: float64

In [0]:
# 차원이 다른객체로의 연산(pandas는 지정된 차원을 따라 자동으로 브로드 캐스팅 됩니다.)
s = pd.Series([1,3,5,np.nan,8], index = dates.shift(2))

In [17]:
s

2010-01-03    1.0
2010-01-04    3.0
2010-01-05    5.0
2010-01-06    NaN
2010-01-07    8.0
Freq: D, dtype: float64

In [18]:
df.sub(s, axis = 'index')

                   A         B         C         D
2010-01-01       NaN       NaN       NaN       NaN
2010-01-02       NaN       NaN       NaN       NaN
2010-01-03 -0.497511 -0.943915  0.060910  0.307622
2010-01-04 -1.067369 -3.905979 -2.281230 -3.700476
2010-01-05 -5.246831 -3.786289 -3.790063 -5.915311
2010-01-06       NaN       NaN       NaN       NaN
2010-01-07       NaN       NaN       NaN       NaN

## apply를 사용하여 데이터를 함수에 적용함

In [19]:
df.apply(np.cumsum)

                   A         B         C         D
2010-01-01 -0.846545  0.360442 -0.918578  2.058322
2010-01-02 -0.277014  1.289050 -0.841068  1.994230
2010-01-03  0.225475  1.345135  0.219841  3.301852
2010-01-04  2.158105  0.439156  0.938611  2.601376
2010-01-05  1.911275  1.652867  2.148549  1.686065


이 과정에서 lambda를 사용하였는데,
후에 lambda의 용도에 대해 자세히 알아봐야 겠다!

In [20]:
df.apply(lambda x : x.max() - x.min())

A    2.779175
B    2.119690
C    2.128516
D    2.973633
dtype: float64