<a href="https://colab.research.google.com/github/silverstar0727/1day-1commit-challenge/blob/master/pandas_day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Categoricals

##pandas day7

In [0]:
# 데이터 셋 만들기
import pandas as pd
df = pd.DataFrame({'id': [1,2,3,4,5,6], 'raw_grade': ['a','b','b','a','a','e']})

In [0]:
#범주화 하기
df['grade'] = df['raw_grade'].astype('category')

In [5]:
df['grade']

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [0]:
# 범주 가공하기
df['grade'].categories = ['very good', 'good', 'very bad']
df['grade'] = df['grade'].cat.set_categories(['very bad', 'bad', 'medium', 'good','very good'])

In [14]:
df['grade']

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [15]:
# 지정한 category에 따라서 정렬
df.sort_values(by = 'grade')

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good