<a href="https://colab.research.google.com/github/silverstar0727/1day-1commit-challenge/blob/master/pandas_series!!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://datascienceschool.net/view-notebook/ee0a5679dd574b94b55193690992f850/
를 보고 공부한 내용

In [0]:
# Pandas는 크게 Series와 DataFrame클래스를 제공한다.
## series = value + index
## series의 생성
import pandas as pd
s = pd.Series([1, 2, 3, 4], index = ['서울', '부산', '인천', '대구'])
s

서울    1
부산    2
인천    3
대구    4
dtype: int64

In [0]:
# 인덱스를 지정하지 않을 경우에는 0부터 순서대로 매겨진다.
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [0]:
# 접근할 때에는 index를 기준으로 접근
## series값은 1차원배열

# 변수를 통해 값(value)를 호출
s.values

array([1, 2, 3, 4])

In [0]:
# name속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
s.name = '인구'
s.index.name = '도시'
s

도시
서울    1
부산    2
인천    3
대구    4
Name: 인구, dtype: int64

In [0]:
# 시리즈의 연산...
# numpy의 배열처럼 시리즈도 벡터화 연산을 할 수 있음.(인덱스 값은 변화x)
s = s * 10
s

도시
서울    10
부산    20
인천    30
대구    40
Name: 인구, dtype: int64

In [0]:
# 시리즈 인덱싱(indexing), 슬라이싱(slicing)
s[1], s['부산']

(20, 20)

In [0]:
# 조건부로 호출가능
s[(40 > s) & (10 < s)]

도시
부산    20
인천    30
Name: 인구, dtype: int64

In [0]:
# index로 연속 호출 가능
s['부산':'대구']

도시
부산    20
인천    30
대구    40
Name: 인구, dtype: int64

In [0]:
# index가 영어라면 이름자체로 호출 가능
s0 = pd.Series([1,2,3], index = ['a', 'b', 'c'])
s0

a    1
b    2
c    3
dtype: int64

In [0]:
s0.a

1

In [0]:
# series는 dictionary자료형과 유사함
## in의 지원
'서울' in s

True

In [0]:
## for문을 통한 items 메소드 활용
for i, j in s.items():
  print('%s = %d' %(i, j))

서울 = 10
부산 = 20
인천 = 30
대구 = 40

In [0]:
# dictionary to series
## index는 순서의 정렬
s2 = pd.Series({"서울": 5, "부산": 6, "인천": 7, "대전": 9},
                index = ['부산', '서울', '인천', '대전'])
s2

부산    6
서울    5
인천    7
대전    9
dtype: int64

In [0]:
# 차이의 계산
## 같은 인덱스에 대해서만 지원
ds = s - s2
ds

대구     NaN
대전     NaN
부산    14.0
서울     5.0
인천    23.0
dtype: float64

In [0]:
s.values - s2.values

array([ 4, 15, 23, 31])

In [0]:
# null값 없애기
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [0]:
# True값에대해서만 출력
ds[ds.notnull()]

부산    14.0
서울     5.0
인천    23.0
dtype: float64

In [0]:
#데이터의 갱신(추가, 삭제)
## 변경
s['부산'] = 2
s

도시
서울    10
부산     2
인천    30
대구    40
Name: 인구, dtype: int64

In [0]:
## 삭제
del s['부산']
s

도시
서울    10
인천    30
대구    40
Name: 인구, dtype: int64