<a href="https://colab.research.google.com/github/silverstar0727/1day-1commit-challenge/blob/master/Pandas_Viewing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Viewing Data
## pandas day2

기존 day1의 data를 불러와, 진행합니다~~!

In [0]:
# 기존 데이터 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dates = pd.date_range('20100101', periods = 5)
df = pd.DataFrame(np.random.randn(5,4), index = dates, columns = list('ABCD'))

In [4]:
df

                   A         B         C         D
2010-01-01  1.052560  0.232773  0.137408  1.790075
2010-01-02 -1.102667 -1.766838  1.627701  1.576945
2010-01-03  0.410792 -0.118428  0.302044  1.116395
2010-01-04 -0.783808  0.802451  1.384264 -0.244084
2010-01-05  0.649921  1.121616 -1.510543 -0.076581

## df.tail은 마지막 행에 해당하는 데이터를 불러옵니다

In [5]:
# 마지막에서 3행 불러오기
df.tail(3)

                   A         B         C         D
2010-01-03  0.410792 -0.118428  0.302044  1.116395
2010-01-04 -0.783808  0.802451  1.384264 -0.244084
2010-01-05  0.649921  1.121616 -1.510543 -0.076581

In [6]:
# 마지막에서 5행불러오기 (디폴트)
df.tail()

                   A         B         C         D
2010-01-01  1.052560  0.232773  0.137408  1.790075
2010-01-02 -1.102667 -1.766838  1.627701  1.576945
2010-01-03  0.410792 -0.118428  0.302044  1.116395
2010-01-04 -0.783808  0.802451  1.384264 -0.244084
2010-01-05  0.649921  1.121616 -1.510543 -0.076581

## index, columns, values 등의 기본정보를 확인합니다

In [7]:
df.index

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.values

array([[ 1.05255966,  0.23277307,  0.13740786,  1.79007536],
       [-1.10266676, -1.76683827,  1.62770053,  1.57694493],
       [ 0.41079152, -0.11842764,  0.30204438,  1.11639482],
       [-0.78380761,  0.80245118,  1.38426383, -0.24408428],
       [ 0.6499207 ,  1.1216157 , -1.51054344, -0.07658148]])

In [17]:
# 통계적 수치를 볼 수 있습니다.
# percentiles(백분위수)의 디폴트는 quartile(4분위 수)입니당
df.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean   0.045360  0.054315  0.388175  0.832550
std    0.937946  1.126624  1.245397  0.940373
min   -1.102667 -1.766838 -1.510543 -0.244084
25%   -0.783808 -0.118428  0.137408 -0.076581
50%    0.410792  0.232773  0.302044  1.116395
75%    0.649921  0.802451  1.384264  1.576945
max    1.052560  1.121616  1.627701  1.790075

In [25]:
#행렬의 전치행렬을 떠올리면 편합니다
df.T

   2010-01-01  2010-01-02  2010-01-03  2010-01-04  2010-01-05
A    1.052560   -1.102667    0.410792   -0.783808    0.649921
B    0.232773   -1.766838   -0.118428    0.802451    1.121616
C    0.137408    1.627701    0.302044    1.384264   -1.510543
D    1.790075    1.576945    1.116395   -0.244084   -0.076581

In [26]:
# column 별로 정리합니다.
print(df.sort_index(axis = 1, ascending = True))
print(df.sort_index(axis = 1, ascending = False))

                   A         B         C         D
2010-01-01  1.052560  0.232773  0.137408  1.790075
2010-01-02 -1.102667 -1.766838  1.627701  1.576945
2010-01-03  0.410792 -0.118428  0.302044  1.116395
2010-01-04 -0.783808  0.802451  1.384264 -0.244084
2010-01-05  0.649921  1.121616 -1.510543 -0.076581
                   D         C         B         A
2010-01-01  1.790075  0.137408  0.232773  1.052560
2010-01-02  1.576945  1.627701 -1.766838 -1.102667
2010-01-03  1.116395  0.302044 -0.118428  0.410792
2010-01-04 -0.244084  1.384264  0.802451 -0.783808
2010-01-05 -0.076581 -1.510543  1.121616  0.649921

In [27]:
# row별로 정리합니다.
df.sort_values(by = 'B')

                   A         B         C         D
2010-01-02 -1.102667 -1.766838  1.627701  1.576945
2010-01-03  0.410792 -0.118428  0.302044  1.116395
2010-01-01  1.052560  0.232773  0.137408  1.790075
2010-01-04 -0.783808  0.802451  1.384264 -0.244084
2010-01-05  0.649921  1.121616 -1.510543 -0.076581